DEBUG=False
DJANGO_SECRET_KEY=change-me
ALLOWED_HOSTS=.up.railway.app,localhost,127.0.0.1
POSTGRES_DB=railway
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
OPENAI_API_KEY=sk-...
OPENWEATHER_API_KEY=
