django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
Pillow
numpy
pandas
scikit-learn
reportlab
gunicorn
whitenoise
openai==1.30.0
asgiref==3.11.1
requests>=2.32.0
charset-normalizer==3.4.7
Django==6.0.5
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
gunicorn==26.0.0
joblib==1.5.3
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pillow==12.2.0
psycopg2-binary==2.9.12
PyJWT==2.12.1
python-dateutil==2.9.0.post0
reportlab==4.5.0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
whitenoise==6.12.0
